/* Media player */

#mediaplayer {
  border-radius: 1rem;
  padding-top: 56.25%;
  position: relative;
  overflow: hidden;
}

#mediaplayer:hover {
  cursor: pointer;
}

#mediaplayer__video {
  background-color: var(--black);
  height: 100%;
  top: 0;
  position: absolute;
}

#mediaplayer__controls {
  background-color: var(--fullblack_transparent);
  color: var(--white);
  display: grid;
  grid-template-columns: auto 1fr repeat(5, auto);
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition: visibility 1s;
}

#mediaplayer__controls p {
  font-size: 0.8rem;
}

#mediaplayer__controls i {
  font-size: 1.8rem;
  margin: 0 0.3rem;
}

#mediaplayer__controls i:hover {
  cursor: pointer;
}

.ci-move {
  rotate: 45deg;
}

#mediaplayer__controls .icon-volume-medium,
#mediaplayer__controls .icon-volume-mute2 {
  font-size: 1.3rem;
}

progress {
	background: var(--lightgray);
	border: none;
	border-radius: 1px;
	display: flex;
	height: 5px;
	line-height: 5px;
	position: sticky;
	bottom: 0;
	left: 0;
  margin: 0 auto;
	width: calc(100% - 1rem);
	z-index: 1;
}

progress[value]::-webkit-progress-bar {
  background-color: var(--lightgray);
}

progress::-webkit-progress-value {
  background: var(--orange);
  border-radius: 0px;
}

progress::-moz-progress-bar {
  background: var(--orange);
  border-radius: 0px;
}

progress::-moz-progress-bar {
  background: var(--orange);
}

progress::-webkit-progress-bar {
  border-radius: 0px;
}

progress::-webkit-progress-value {
  border-radius: 0px;
}


#volume-range {
  -webkit-appearance: none;
  background-color: transparent;
  width: 4rem;
  color: var(--black);
}

#volume-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid var(--black);
  height: 0.8rem;
  width: 0.8rem;
  margin-top: -0.225rem;
  border-radius: 50%;
  background: var(--white);
  cursor: pointer;
  box-shadow: 4px 0px 15px 1px var(--black);
}

#volume-range::-moz-range-thumb {
  border: 1px solid var(--black);
  height: 0.8rem;
  width: 0.8rem;
  margin-top: -0.225rem;
  border-radius: 50%;
  background: var(--white);
  cursor: pointer;
  box-shadow: -2px 0px 15px 1px var(--black);
}

#volume-range:focus {
  outline: none;
}

#volume-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.3rem;
  cursor: pointer;
  background: var(--white);
  border-radius: 1rem;
}

#volume-range:focus::-webkit-slider-runnable-track {
  background-color: var(--white);
}

#volume-range::-moz-range-track {
  width: 100%;
  height: 0.3rem;
  cursor: pointer;
  background: var(--white);
  border-radius: 1rem;
}

@media screen and (max-width: 900px) {
  #mediaplayer__controls i {
    font-size: 1.2rem;
  }

  #mediaplayer__controls .icon-volume-medium,
  #mediaplayer__controls .icon-volume-mute2 {
    font-size: 1rem;
  }

  #mediaplayer__controls p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 600px) {
  #mediaplayer__controls p {
    font-size: 0.6rem;
  }

  #volume-range {
    width: 2.5rem;
  }
}
